:root {
  --main-bg-color: rgb(52, 73, 15);
  --main-theme-color: yellow;
  --secondary-theme-color: white;
  --shadows-color: grey;
  --bg-color-keys: rgba(255, 255, 255, .2);
  --margin-sides: 50px;
  --gap-value: 5%;
}

@font-face {
  font-family: 'Gaming';
  src: url(./font/ka1.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Digital';
  src: url(./font/DS-DIGIT.TTF) format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
}

header {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}

h1 {
  font-family: 'Gaming';
  font-size: 5em;
  font-weight: normal;
  color: var(--main-theme-color);
}

main {
  display: flex;
  justify-content: center;
  margin: 0 80px;  
}

section {
  flex: .5;
  min-width: 400px;
  min-height: 540px;
  border: 10px groove var(--main-theme-color);border-radius: 10px;
  font-family: 'Digital';
  padding: var(--margin-sides);
}

.screen {
  /* margin: 50px var(--margin-sides) 5px; */
  min-width: 150px;
  min-height: 100px;
  font-size: 3em;
  color: var(--secondary-theme-color);
  text-shadow: 4px 4px var(--shadows-color);
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-color-keys);  
}

.keys {
  display: flex;
  margin: 30px 0;
}

.numbers {
  flex: 3;
}

.operators {
  flex: 1;
}

.screen, .numbers ul li, .clear, .equals, .operations ul li {
  color: var(--secondary-theme-color);
  border: 5px inset var(--main-theme-color);
  border-radius: 10px;
}

.numbers ul {
  display: flex;
  align-items: space-between;
  align-content: space-between;
  margin: 0;
  min-width: 40%;
  min-height: 300px;
  flex-wrap: wrap;
  gap: 10%;
  padding: 0;
}

.numbers ul li {
  flex: 1;
  min-width: 20%;
  min-height: 80px;
  max-height: 100%;
  list-style: none;
  background-color: var(--bg-color-keys);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.operators {
  /* border: 1px solid pink; */
}

.operators ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.operators ul li{
  list-style: none;
  flex: 1;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-theme-color);
  border: 5px inset var(--main-theme-color);
  border-radius: 10px;
  font-size: 1.5em;
}


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-value);
}

.controls div, .controls div ul li {
  min-height: 60px;
  text-align: center;
}

.clear {
  flex: 1;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equals {
  flex: 2;
  font-size: 4em;
}